#portfolio-head {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#portfolio-content{
    /* border: 2px solid #6a11cb; */
    /* padding-top: 300px; */
    margin-top: 120px;

}